---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogpost from "../components/Blogpost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md')
---

<BaseLayout pageTitle="My Astro Learning Blog">
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allPosts.map((post) => <Blogpost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>