---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';


const pageTitle = 'Home page';
const animateParagraph = () => {
	const p = document.querySelector('.anim');
	p.textContent = 'Hello world!';
};
animateParagraph();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
		<p class="anim"></p>
	</body>
</html>
